<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="format-detection" content="telephone=041-732-2416" />
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="/static/images/tbe.ico" type="image/x-icon">
	<meta http-equiv="keywords" content="(주)터보이엔지">
	<meta name="description" content="무대기계장치 , 무대막, 커튼, 기계설비공사 전문기업">
	<meta  property="og:type" content="website">
	<meta property="og:title" content="(주)터보이엔지">
	<meta property="og:url" content="무대기계장치 , 무대막, 커튼, 기계설비공사 전문기업">
	<meta property="og:image" content="/images/logo.png">
	<meta property="og:url" content="http://tuboeng.co.kr/">
	<link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
	<link rel="stylesheet" href="/static/css/swiper.min.css">
	<script src="/js/jquery-1.10.2.min.js" charset="euc-kr"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script src="/js/swiper.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
	<link href="/static/css/btn.css" type="text/css" rel="stylesheet">

<!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
</head> 

<body>
<div class="wrap">
	<div class="top_area">
		<div class="top_menu">
			<a href="/" class="logo"><img src="/static/images/logo.png" alt="" /></a>
			<div class="m">
			<a href="{% url 'sub_view' 1 1 %}" class="d">회사소개</a><a href="{% url 'sub_view' 2 1 %}" class="d">기술소개</a><a href="{% url 'sub_view' 3 1 %}" class="d">공사실적</a>
			<a href="{% url 'sub_view' 4 2 %}" class="d">설치현황</a><a href="{% url 'sub_view' 5 1 %}" class="d">제품소개</a><a href="{% url 'sub_view' 6 1 %}" class="d">고객지원</a>
			</div>
			<div class="menu_bar">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul class="sub_menu_p">
			 <li class="sub1">
	                <a href="{% url 'sub_view' 1 1 %}">인사말</a>
					<a href="{% url 'sub_view' 1 2 %}">회사개요</a>
					<a href="{% url 'sub_view' 1 3 %}">비젼</a>
					<a href="{% url 'sub_view' 1 4 %}">조직도</a>
					<a href="{% url 'sub_view' 1 5 %}">연혁</a>
					<a href="{% url 'sub_view' 1 6 %}">Contact us</a>
				</li>
				<li class="sub2">
					<a href="{% url 'sub_view' 2 1 %}">등록증</a>
				    <!-- <a href="/sub02/02.asp?gu=a">특허증</a>
					<a href="/sub02/03.asp?gu=c">기타</a> -->
				</li>
				<li class="sub3">
					<a href="{% url 'sub_view' 3 1 %}">무대장치실적</a>
					<!-- <a href="/sub03/02.asp?gu=b">용역실적</a>
					<a href="/sub03/03.asp?gu=c">기타공사실적</a> -->
					
				</li>
				<li class="sub4">
   
					  <a href="{% url 'sub_view' 4 1 %}">설치현황</a>
				</li>
				
				<li class="sub5">
					<a href="{% url 'sub_view' 5 1 %}">무대장치</a>
					<a href="{% url 'sub_view' 5 2 %}">무대조명</a>
					<a href="{% url 'sub_view' 5 3 %}">실내건축</a>
					
				</li>
				<li class="sub6">
					<a href="{% url 'sub_view' 6 1 %}">공지 및 뉴스</a>
					<a href="{% url 'sub_view' 6 2 %}">상담문의</a>
					<a href="{% url 'sub_view' 6 3 %}">자료실</a>
		
					
				</li>
			</ul>
		</div>
	</div>

	
<meta property="og:description" content="기타공사실적">
<title>(주)터보이엔지 기타공사실적</title>
	<div class="sub_visual sub2">
		<span class="blc">기타공사실적</span>
	</div>

	<div class="sub_con_menu sub_con_menu3">
        <a href="{% url 'sub_view' 3 1 %}" class="on">무대장치실적</a><a href="{% url 'sub_view' 3 2 %}">용역실적</a><a href="{% url 'sub_view' 3 3 %}">기타공사실적</a>
    </div>

	<div class="sub_contents">
		<div class="content_area">
			

			<div class="sub_height">
<section id="image_ani"> <!-- 연혁시작 -->

<div class="sub03_layout" style="padding-top:20px;">
<span>					<!-- 쿼리시작 -->





<!-- 내용시작 -->

<BR><table class="table1" style="margin-left:0px;margin-top:5px;" width=100%>
							<caption>수행실적</caption>
							<colgroup>
							<col width="30%">
								<col width="70%">
								<!-- <col width="35%"> -->
							
							</colgroup>
							<thead>
							<tr>
							   <th style="text-align:center">년</th>
									<th style="text-align:center">실적명</th>
									<!-- <th   style="text-align:center">발주처</th> -->
									
								</tr>
							</thead>
							<tbody>

    

					               <tr>
								   <td  style="text-align:center">2021 </td>
									<td  style="text-align:center">한국교원대학교 학생회관 공연장 씰링라이트 바튼 철거후 재설치 </td>
									<!-- <td  style="text-align:center">한국교원대학교 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2021 </td>
									<td  style="text-align:center">논산여자상업고등학교 화장실 수선 기계설비공사 </td>
									<!-- <td  style="text-align:center">논산여자상업고등학교 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2021 </td>
									<td  style="text-align:center">OO학교 노후보일러 교체공사 </td>
									<!-- <td  style="text-align:center">OO학교 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2021 </td>
									<td  style="text-align:center">국민연금 지방이전 제2사옥 전기공사 관급자재(무대장치) 구매 </td>
									<!-- <td  style="text-align:center">국민연금공단 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2020 </td>
									<td  style="text-align:center">천안오성고 급실수선 기계설비공사 </td>
									<!-- <td  style="text-align:center">충청남도천안교육지원청 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2020 </td>
									<td  style="text-align:center">부여고등학교 미술실 인전 및 과학실 리모델링공사 건축기계공사 계약 </td>
									<!-- <td  style="text-align:center">충청남도교육청 부여고등학교 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2020 </td>
									<td  style="text-align:center">문화교육동 강당 기능보강(무대장치 구매설치) </td>
									<!-- <td  style="text-align:center">충청남도 충남도서관 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2019 </td>
									<td  style="text-align:center">논산공고 실습동 환기시설 기계설비공사 </td>
									<!-- <td  style="text-align:center">충청남도논산계룡교육지원청 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2019 </td>
									<td  style="text-align:center">지도인쇄실 환경개선공사 </td>
									<!-- <td  style="text-align:center">국군인쇄창 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2019 </td>
									<td  style="text-align:center">관급-무대장치-오선초 다목적교실 증축공사 </td>
									<!-- <td  style="text-align:center">대전세종충남기계공업협동조합 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2018 </td>
									<td  style="text-align:center">당진문화예술학교 블랙박스홀 천정조명 와이어로프 교체공사 </td>
									<!-- <td  style="text-align:center">(재)당진문화재단 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2018 </td>
									<td  style="text-align:center">한국교원대학교 미래도서관 신축공사(무대장치 설치) </td>
									<!-- <td  style="text-align:center">한국교원대학교 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2018 </td>
									<td  style="text-align:center">천안부대초등학교 다목적강당 증축 무대장치 구매설치 </td>
									<!-- <td  style="text-align:center">충청남도천안교육지원청 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2017 </td>
									<td  style="text-align:center">국민체육센터 및 스쿼시경기장 건립 관급자재 구입(무대장치) </td>
									<!-- <td  style="text-align:center">충청북도 청주시 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2017 </td>
									<td  style="text-align:center">예술의전당 상하부무대기계 보수공사 </td>
									<!-- <td  style="text-align:center">충청북도 청주시 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2017 </td>
									<td  style="text-align:center">당진문예의전당 대공연장 정밀안전진단에 따른 보수 </td>
									<!-- <td  style="text-align:center">당진문화재단 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2015 </td>
									<td  style="text-align:center">세종 비즈센터 전기공사 관급자재 </td>
									<!-- <td  style="text-align:center">세종비즈센터 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2015 </td>
									<td  style="text-align:center">문경문화체육센터 리모델링 전기공사 </td>
									<!-- <td  style="text-align:center">대구지방조달청 </td> -->

								</tr>
								
		
	    

					               <tr>
								   <td  style="text-align:center">2013 </td>
									<td  style="text-align:center">소정초 다목적강당 보수공사 </td>
									<!-- <td  style="text-align:center">세종특별시교육청 </td> -->

								</tr>
								
		
	  	
							</tbody>
						</table>

	
<!-- 내용끝 -->



</div>

 <!--페이징 시작 -->
              <div     class="paging">
			        
                &nbsp;<a href='#'><div  class='nowpg'>1</div></a> <a href='/sub03/03.asp?field=&gu=c&lang=&searchkey=&table_n=&page=2' title='2 페이지'><div  class='num'>2</div></a> &nbsp;</div>
           
            <!--페이징 끝 -->

</span>

<!-- 쿼리끝 -->
<!-- 끝 -->
				<!-- 연혁끝 --></section>
			</div>

		</div>
	</div>
  <div id="" class="priv" >
		<a href="/sub06/05.asp">개인정보처리방침</a>
	  </div>
<footer>
<div>
   <!-- <a href="/sub06/01.asp">
   <div  class="sz"  >
	    <div id="" class="communi">
	      <div  class="fs26px w300h30 pdlt20">
		     SUPPORT
	     </div>
	     <div  class="fs40px w300h50 txtalignc">
		    055.292.5925
	     </div>
        <div  class="fs21px txtalignc">
	     E-mail :  tuboeng@naver.com 
        </div>

   

	<div  class="comworks">
		<ul>
			<li>소액수의 계약추천</li>
			<li>직접생산확인</li>
			<li>원자재 공동구매</li>
			<li>보증·손해공제</li>
		</ul>
	</div>
   </div>      
</div></a>
 -->

<div class="ftrt">
   
         <div  class="ftlogo"  >
			<img src="/static/images/logo3.png">
        </div>
		<div class="mo_ver ftlogo2"   >
			<p>본사 : 충남 논산시 연산면 계백송정 1길 7-21  <span></span> mail. tuboeng@naver.com <br> Tel. 041-732-2416<span></span>Fax. 041-732-2417 <br>     
			       대전 : 대전시 유성구 관평동 1300번지  <span></span> T. 042-934-0070<span></span>F. 042-934-0057<br>
				</p>
		</div>

		<div class="pc_ver ftlogo2"  >
			<p>본사 : 충남 논산시 연산면 계백송정 1길 7-21 <span></span> E.tuboeng@naver.com  <br> T.041)732-2416<span></span>F.041)732-2417<br>
			대전 : 대전시 유성구 관평동 1300<span></span> T.042-934-0070<span></span>F.042-934-0057<br>
			 </p>
		</div>
	<div class="ftlogo3"  >
		<p>Copyright ⓒ (주)터보이엔지. All Rights Reserved.</p>
	</div>
	</div>
</div>
	</footer>
  </div>


</body></html>