<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="bg-dark text-white">
    <header>
        <img class="img-fluid mt-2" src="/images/무대전경_1.jpg" alt="무대전경">
      </header>

      <article class="container">
        <header class="m-5 text-center">
            <h1 class="fw-bold">무대전경</h1>
            <p class="text-info">연극을 경험한다는 것은 어떤 일일까요? 관객은 극장에서 무엇을 기대할까요?</p>
        </header>

        <h2 class="text-warning fw-bold fs-3">꼭두각시놀음</h2>
        <p>‘굿중패’ 또는 ‘남사당패’라 불리는 직업적인 연예인들에 의하여 
            전승되어 오면서 현재까지 유일하게 남아있는 전통적인 인형극으로            
                일명 ‘박첨지(朴僉知) 놀음’, ‘홍동지(洪同知) 놀음’이라고도 합니다.
            우리나라 인형극은 삼국시대부터 중국의 영향을 받았으며,             
            이것이 다시 일본으로 전래된 것으로 짐작되나            
                현재까지 전승되어온 꼭두각시놀음의 내용으로 보아            
                조선 후기에 와서 비교적 격식을 갖춘            
                인형극으로 정립되었다고 할 수 있습니다.</p>

        <h2 class="mt-4 text-warning fw-bold fs-3">그림자극(Shdow Play)</h2>
        <p>인형이 움직이는 모습을 뒤에서 비추어
            종이 스크린에 투사 (投射) 하는 방식으로            
            극을 진행시키는 형태이며 극동에서 발생하였고            
            특히 인도네시아에서 고도(高度)로 발달하였습니다.            
            그 후 중동 및 극동 지역에 전파되었으며           
            터키, 영국, 프랑스 등지에서도 공연되었습니다.            
            그리고 이 극은 기술면으로 보아 만화 영화의 선구자가 되었다고 할 수 있습니다.</p>

      </article>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>

</html>